<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="viewposts.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <title>UWU!</title>

</head>
<!--  <body onload="runButtons()">  -->

<body>


  <div class="card" style="width: 40rem;">
    <img class="card-img-top" height="250px" width="300px" src="paris.jpg" alt="Card image cap">

    <div id="postId"></div>
    <div id="postTitle">Post: 213 &nbsp;&nbsp; <strong>Paris the City of Beauty</strong>&nbsp;&nbsp; 2/04/22</div>
    <div>Likes: 30</div><br>

    <div class="mb-3">
      <div id="postBody">Paris is the capital and most populous city of France, with an estimated population of
        2,165,423 residents as of 1 January 2019 in an area of more than 105 square kilometres
        (41 square miles).[4] Since the 17th century, Paris has been one of Europe's
        major centres of finance, diplomacy, commerce, fashion, gastronomy, science, and arts.
      </div>
      <br>
      <!-- we'll change this to a button instead of a checkbox -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="likePost">
        <label class="form-check-label" for="like post">Like this post</label>
      </div>
      <div class="card" style="width: 40rem;">
        <button class="btn btn-primary btn-xs" ng-click="display = true" font-weight="bold">Comment on Post</button>
      </div>
    </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>

    <script src="../js/displaypost.js"> </script>
    <!-- <script src="viewp_suppl.js"/> -->
    <script src="https://www.w3schools.com/lib/w3.js"></script>

</body>

<!--
     <button type="button" class="btn btn-primary btn-sm">Small button</button></td>
    -->

</html>