


h1 {
    margin-left:auto;
    margin-right:auto;
}

#pbnnr, #bHdg {
  font-weight:600;
}

#bHdg {
  font-weight:bold;
}

#myPost {
  font-weight:bold;
  text-emphasis-color: "blue";
}

.hdrCard {
  background-color: rgb(138, 217, 236);
  padding: -5 px;
  height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Times New Roman';
}


.card-body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.card {
  margin-top: 50px;
  width: 60%;
  margin-left: auto;
  margin-right:auto;
  font-family: 'Times New Roman', Times, serif;
   
}

#postTitle {
  font-size: 15pt;

}



